.dx-page-container,
#td_data {
  background-color: #dae8cf;
}
.dx-form-chat-content .name {
  color: #016eb1 !important;
}
.dx-form-chat-content .btn {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
#dx-menu-wrap,
.navbar-default {
  background-color: #3a3a3a !important;
}
#dx-menu-wrap.dx-top-menu {
  border-bottom: 4px solid #82af16 !important;
}
@media screen and (min-width: 768px) {
  #navbar {
    min-height: 46px !important;
    height: 46px !important;
  }
  #navbar > .nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  #navbar > .nav > li.active > a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    display: inline-block;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #82af16;
  }
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #444;
}
button.navbar-toggle {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
  border-radius: 2px !important;
}
#dx-top-search-form input {
  color: #b8b8b8 !important;
  background-color: #444 !important;
  border: 1px solid #777 !important;
}
#dx-top-search-form .btn {
  background-color: #82af16 !important;
  border: 1px solid #777 !important;
}
.navbar-nav li.active a {
  background-color: transparent !important;
}
.tabbable-line > .nav-tabs > li.active {
  border-color: #82af16;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-color: #6f9a00;
}
.form-control {
  background-color: #fafafa;
  border-color: #adadad;
  border-radius: 2px !important;
}
.form-control:focus {
  background-color: #ffffff;
  border-color: #6f9a00;
}
.btn {
  border-radius: 2px !important;
}
.btn.btn-primary {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.btn.dx-form-chat-btn-send {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.btn.btn-block {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.btn.btn-white,
.btn.btn-default,
.btn.btn-outline {
  background-color: white !important;
  border: 1px solid #bababa !important;
}
.btn.category-btn {
  color: #666 !important;
  background-color: #eef4f7 !important;
  border: none!important;
}
.actions .btn.btn-circle {
  color: white;
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.close-quick-sidebar {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.btn.blue-soft {
  background-color: #82af16 !important;
  border: 1px solid #6f9a00 !important;
}
.btn.green-jungle {
  background-color: #26C281;
}
.mt-actions .btn.btn-outline.green {
  color: #016eb1 !important;
}
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-icon > i {
  color: #82af16;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #DCDCDC;
}
.dx-form-header {
  background-color: #3a3a3a !important;
}
.bootstrap-switch {
  border-color: #adadad;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #82af16 !important;
}
.dx-grid-table thead th div,
.dx-grid-table thead td div {
  background-color: #ECECEC;
}
.dx-grid-table thead tr > * {
  background-color: #ECECEC;
}
a {
  color: #016eb1;
}
.btn.btn-outline.green-meadow:hover,
.btn.btn-outline.green-meadow:active,
.btn.btn-outline.green-meadow:active:hover,
.btn.btn-outline.green-meadow:active:focus,
.btn.btn-outline.green-meadow:focus,
.btn.btn-outline.green-meadow.active {
  border-color: #1BBC9B!important;
  color: #fff;
  background-color: #1BBC9B!important;
}
.btn.btn-outline.blue-hoki:hover,
.btn.btn-outline.blue-hoki:active,
.btn.btn-outline.blue-hoki:active:hover,
.btn.btn-outline.blue-hoki:active:focus,
.btn.btn-outline.blue-hoki:focus,
.btn.btn-outline.blue-hoki.active {
  border-color: #67809F!important;
  color: #fff;
  background-color: #67809F!important;
}
.btn.btn-outline.red-soft:hover,
.btn.btn-outline.red-soft:active,
.btn.btn-outline.red-soft:active:hover,
.btn.btn-outline.red-soft:active:focus,
.btn.btn-outline.red-soft:focus,
.btn.btn-outline.red-soft.active {
  border-color: #E43A45!important;
  color: #fff;
  background-color: #E43A45!important;
}

/*# sourceMappingURL=elix_colors_bamboo.css.map */
