
.dx-form-chat-avatar {
  object-fit: cover;
}
.dx-form-chat-avatar-sm {
  height: 20px;
  width: 20px;
  border-radius: 50%!important;
}
.dx-form-chat-user-list-row {
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
.dx-chat-loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-bottom: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: dx-spin 2s linear infinite;
  animation: dx-spin 2s linear infinite;
}
@-webkit-keyframes dx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dx-form-chat-panel .popover-content {
  overflow-y: scroll;
  height: 40vh;
}
.dx-form-chat-user-add-modal .dx-form-chat-user-field {
  width: 100%;
}
.dx-form-chat-user-add-modal .dx-form-chat-input-save-user-title {
  width: 100%;
}
.dx-form-chat-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  background-color: white;
  padding: 0;
  border: solid 1px gray;
}
.dx-form-chat-panel .portlet {
  margin-bottom: 0;
}
.dx-form-chat-panel .portlet .portlet-body {
  height: auto;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-content-container {
  overflow-y: scroll;
  height: 40vh;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-msg-body {
  overflow: hidden;
  word-wrap: break-word;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-progress {
  display: none;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-progress .progress {
  padding-left: 5px;
  padding-right: 5px;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-form-btns {
  float: right;
  width: 38px;
  padding-left: 3px;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-form-btns .dx-form-chat-file-input {
  display: none;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-form-inputs {
  width: auto;
  overflow: hidden;
}
.dx-form-chat-panel .portlet .portlet-body .dx-form-chat-form-inputs .dx-form-chat-input-text {
  max-height: 20vh;
  height: 68px;
}

/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
  left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
  left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
  right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
  right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
  top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
  top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
  font-size: 18px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}

/*# sourceMappingURL=elix_view_less.css.map */
