#dx-emp-notes-panel{
    .dx-emp-notes-avatar{
        object-fit: cover;
    }

    .dx-emp-notes-btn-link-panel{
        margin-top: 5px;
    }
    .dx-emp-notes-btn-link{
        text-transform: uppercase;
        color: #9fb1b9;

        text-decoration:none;
        &:hover { 
            text-decoration:none; 
            color: #606975;
        }
    }

    .dx-emp-notes-chat-form{
        margin-bottom: 30px;
        margin-top: 0px;
    }
}


