// set default picture for employee avatar
.employee-pic-box .fileinput-preview:empty{
    background: url(../../assets/global/avatars/default_avatar_big.jpg) no-repeat center;
    background-size: 80%;
    background-color: #e4e4e4;
    min-width: 120px;
    min-height: 120px;
}
/*
.employee-pic-box .fileinput-preview {
    width: 90%!important;
    height: auto!important;
}
*/